#text-box 
{
    position: absolute;
    top: 10px;
    left: 10px; /* Adjust the left value to control the distance from the left side */
    background-color: rgba(200, 200, 200, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 3;
    width: 20vw; /* 25% of the viewport width */
    height: calc(100vh - 60px); /* 100% of the viewport height minus vertical padding */
    display: none; /* Hide the text box by default */
}

/* Show the text box when it has the "active" class */
#text-box.active 
{
    display: flex; 
    flex-direction: column;
}

#text-box textarea 
{
    width: calc(100% - 10px);
    height: calc(100% - 35px);
    padding: 5px;
    resize: none; /* Prevent resizing of the textarea */
    align-content: flex-start; /* Set text to be top-justified */
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    position: relative;
}

.circle 
{
    width: 80px;
    height: 80px;
    background-color: #007bff; /* Blue color, you can change it to any color you like */
    border-radius: 50%;
    position: absolute;
    z-index: 2; /* Ensure circles are on top of lines */
}

.new-circle 
{
    background-color: #007bff; /* Blue color for newly created circles */
}

.following-circle 
{
    background-color: aqua; /* Aqua color for circles that follow the mouse */
}

.line 
{
    position: absolute;
    border-bottom: 2px solid black; /* Change this to set the line color */
    z-index: 1; /* To place the lines underneath the circles */
}

#radio-container 
{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    z-index: 4; /* Ensure the radio buttons are on top */
}

#overlay 
{
    position: absolute;
    top: 0;
    right: 0;
    width: 140px; /* Adjust this to cover the area around the radio buttons */
    height: 105px; /* Adjust this to cover the area around the radio buttons */
    background-color: rgba(200, 200, 200, 0.5); /* Transparent light grey */
    z-index: 3; /* Make the overlay appear above circles, but below radio buttons */
}